body.dark-theme{
    background-color: #151421;
}
body.dark-theme p{
    color: #c2c2c2;
}
body.dark-theme .aboutUs-left p{
    color: #c2c2c2;
}
body.dark-theme .feature-left p{
    color: #c2c2c2;
}
body.dark-theme #switch-mode{
    color: #eeeeee;
    font-size: 2rem;
}
body.dark-theme .nav-fixed .navbar-expand-lg .navbar-nav .nav-link{
    color: #fff !important;
    opacity: 0.7;
}
body.dark-theme .overlay{
    background: rgb(29 42 55 / 80%);
}
body.dark-theme header.nav-fixed {
    background-color: #151421;
}
body.dark-theme .nav-fixed .navbar-expand-lg .navbar-brand{
    color: #eee;
}
body.dark-theme .nav-fixed #switch-mode{
    color: #d9d9da;
}
body.dark-theme .shape path{
    fill: #151421;
}
body.dark-theme .carousel-control-prev .prev,
body.dark-theme .carousel-control-next .next {
    border: 1px solid #44434d;
    background-color: #151421;
    color: #eee;
}
body.dark-theme .aboutUs-left h3{
    color: #fff;
}
body.dark-theme .aboutUs-left ul li a {
    color: #fff;
}
body.dark-theme .feature{
    background-color: #100f19;
}
body.dark-theme .feature-left h3{
    color: #fff;
}
body.dark-theme .feature-item{
    background-color: #151421;
}
body.dark-theme .feature-item h4{
    color: #eee;
}
body.dark-theme .services .title{
    color: #fff;
}
body.dark-theme .blog-title{
    color: #eee;
    background-color: #151421;
    border: 1px solid #44434d;
}
body.dark-theme .services .info a.btn{
    color: #eee;
}
body.dark-theme .gallery{
    background-color: #100f19;

}
body.dark-theme .gallery .big-title{
    color: #fff;
}
body.dark-theme .company-logos{
    border-top: 1px solid #44434d;
}
/* PART II */
body.dark-theme .corpProgress .progress__info .progress__title {
    color: #eee;
}
body.dark-theme .corpProgress .progress-height{
    background-color: #151421;

}
body.dark-theme .feedback{
    background-color: #100f19;
}
body.dark-theme .feedback .fb__contain .fb__des .fb__name h3{
    color: #eee;
} 
body.dark-theme .owl-theme .owl-dots .owl-dot span{
    background-color: #19213e;
}
body.dark-theme .blog__desc{
    color: #eee;
}
body.dark-theme .blog .card-body, body.dark-theme .blog .card-footer{
    background-color: #151421;
}
body.dark-theme .card__author ul li a{
    color: #eee;

}
body.dark-theme .titleBottom{
    color: #eee;
}

body.dark-theme .subscribe P{
    color: #eee;
}

body.dark-theme .footer__cover p{
    color: #97a1a9;
}